.cont {
  width: 35px;
  height: 35px;
  border: 1px solid grey;
  cursor: pointer;
  background-color: aquamarine;
}
.cont-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 2rem;
}
